
<div class="row animated fadeIn" id="titulo" >
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label >Departamento</label>
                        <select [(ngModel)]="denuncia.Department_Id" (change)="capturar()" class="form-control"
                            required>
                            <option value="-1">-- Seleccione un departamento --</option>
                            <option *ngFor="let item of departmens" [value]="item.department_Id">
                                {{ item.name }}
                            </option>
                        </select>
                    </div>

                    <div class=" form-group col-md-2">
                        <label>Ubicacion</label>
                        <div class="input-group">
                            <button (click)="Addlocation()" type="button" class="btn btn-cyan" [disabled]="guardando">
                                <i class="material-icons">photo</i> Agregar
                            </button>
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label>Escoger foto</label><br>
                        <button (click)="AddPhoto()" type="button" class="btn btn-cyan" [disabled]="guardando">
                            <i class="material-icons">photo</i> Agregar
                        </button>
                    </div>


                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        <label>Descripción</label>
                        <textarea [(ngModel)]="denuncia.Description" class="form-control" required>

                        </textarea>
                    </div>

                </div>

                <div class="float-right">
                    <button type="button" (click)="save()" class="btn btn-success" [disabled]="guardando">
                        <i class="material-icons">save</i> Guardar
                    </button>

                    <button (click)="start()" type="button" class="btn btn-secondary" [disabled]="cancelando">
                        <i class="material-icons">clear</i> Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead style="color: whitesmoke; background: linear-gradient(#171a21,#1b2838,#2a475e ) !important;">
                            <tr>
                                <th class="text-center">#</th>
                                <th class="text-center">Departamento</th>
                                <th class="text-center">Estado</th>
                                <th class="text-center w-150">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of denuncias">
                                <td class="text-center">
                                    {{ item.Denounces_id }}
                                </td>

                                <td class="text-center">
                                    {{ item.DepartmentName }}
                                </td>
                                <td class="text-center">
                                    {{ item.state }}
                                </td>
                                <td class="text-center w-150">
                                    <button type="button" class="btn btn-cyan" (click)="denouncesdatail(item)">
                                        <i class="material-icons">info</i>
                                    </button>
                                    <button type="button" class="btn btn-cyan" (click)="EditDenounce(item)">
                                        <i class="material-icons">update</i>
                                    </button>
                                    <button type="button" class="btn btn-danger" (click)="deleteDenounce(item)">
                                        <i class="material-icons">delete</i>
                                    </button>
                                </td>

                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6">
                                    <ngb-pagination class="d-flex justify-content-center" [(page)]="page"
                                        [collectionSize]="denuncias.length" [boundaryLinks]="true" [rotate]="true"
                                        [ellipses]="false" [maxSize]="5" [pageSize]="pageSize"></ngb-pagination>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>









<!--agregar photo-->
<div class="modal fade " id="addphoto" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle"
    aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">Seleccione una foto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeU()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <input type='file' (change)="readUrl($event)">
                <img id='Img1' [src]="denuncia.Photo">


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="GuardarFotos()">Aceptar</button>
            </div>
        </div>
    </div>
</div>




<!--agregar UBICACION-->
<div class="modal fade " id="addaddress" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle"
    aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable modal-lg " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">UBICACION</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeI()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class=" ">

                <div class="table-responsive">
                    <div style=" height: 20rem !important; overflow: scroll; align-content: center;">


                        <div #mapContainer id="map"></div>


                    </div>


                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="GuardarUbicacion()">Aceptar</button>
            </div>
        </div>
    </div>
</div>


<!--denounces details-->
<div class="modal fade " id="denouncesdatail" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle"
    aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title white-text w-100 font-weight-bold py-2">Detalle de la denuncia</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>
            <div class="modal-body">



                <div class="row">
                    <div class="form-group col-md-12 text-center">
                        <label>Descripción</label>
                        <label  class="form-control validate" required>
                            {{Description}}
                        </label>
                    </div>
                </div>



                <div class="row d-flex justify-content-center">
                    <div class="form-group d-flex justify-content-center">

                        <img id='Img1' [src]="denuncia.Photo">
                    </div>

                </div>





            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
































<!-- <div class="row animated fadeIn">
    <div #mapContainer id="map"></div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label>Departamento</label>
                        <select class="form-control" required>
                            <option value="-1">-- Seleccione un departamento --</option>

                        </select>
                    </div>

                    <div class="form-group col-md-6">
                        <label>Funcionario</label>
                        <select class="form-control" required>
                            <option value="-1">-- Seleccione un funcionario --</option>

                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        <label>Descripción</label>
                        <textarea class="form-control" required>

                        </textarea>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div> -->